<h1> This is the Capstone Project of the IBM Data Science Specialization </h1>

## This notebook will cover the second part of the submission of week 3

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [1]:
import pandas as pd
import numpy as np
print ('Downloaded')

Downloaded

## Approach: 
 - Create Dataframe 1 **(toronto_df)** with the zip codes of Toronto and create Dataframe 2 **(toronto_gsp_df)** with the geospatial coordinates
 - Concatenate both dataframes into a Dataframe 3 **(toronto_code_df)**
 - Drop the duplicate columns

In [2]:
toronto_df = pd.read_csv('Toronto_2.csv') #Create Dataframe 1 **(toronto_df)** with the zip codes of Toronto 
toronto_df

,Postal Code,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,Northwest

In [9]:
toronto_gsp_df = pd.read_csv('Geospatial_Coordinates.csv') #Create Dataframe 2 **(toronto_gsp_df)** with the geospatial coordinates
toronto_gsp_df

    Postal Code2   Latitude  Longitude
0            M1B  43.806686 -79.194353
1            M1C  43.784535 -79.160497
2            M1E  43.763573 -79.188711
3            M1G  43.770992 -79.216917
4            M1H  43.773136 -79.239476
..           ...        ...        ...
98           M9N  43.706876 -79.518188
99           M9P  43.696319 -79.532242
100          M9R  43.688905 -79.554724
101          M9V  43.739416 -79.588437
102          M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [10]:
toronto_code_df = pd.concat([toronto_df, toronto_gsp_df], axis = 1) #Concatenate both dataframes into a Dataframe 3 (toronto_code_df)
toronto_code_df

,Postal Code,Borough,Neighborhood,Postal Code2,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476
...,...,...,...,...,...,...
98,M9N,York,Weston,M9N,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,M9P,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",M9R,43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",M9V,43.739416,-79.588437
102,M9W,Etobicoke,Northwest,M9W,43.706748,-79.594054

In [11]:
toronto_code_df = toronto_code_df.drop('Postal Code2', axis =1) #Drop the duplicate columns
toronto_code_df

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054